.header {
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  font-family: "MyCustomFont", sans-serif;
}
.logo {
  width: 15%;
  height: 100%;
  min-width: 150px;
}
.logoimg {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  width: 100%;
  gap: 2%;
  align-items: center;
  justify-content: end;
  padding: 0px 5%;
}
.navlist li {
  font-size: clamp(20px, 2vw, 24px); /* Responsive font size */
  padding: 10px 20px; /* Adjust padding for spacing */
  list-style: none; /* Remove bullets */
  display: inline-block; /* For horizontal navigation */
  overflow: hidden;
}
.navlist li:hover {
  background-color: black;
  color: aliceblue;
  border-radius: 20px;
}
.navigation button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  font-family: "MyCustomFont", sans-serif;
  font-size: clamp(12px, 2vw, 24px);
}
.HixMark,
.GiHamburgerMenu {
  display: none;
}
.navlistmobile {
  display: block;
  text-decoration: none;
  list-style: none;
  position: absolute;
  border-radius: 20px;
  margin-top: 70%;
  width: 30%;
  background: transparent;
}
.navlistmobile li {
  padding: 30px 10px;
  border-bottom: 1px solid black;
  text-align: center;
}
.navlistmobile li:hover {
  background-color: black;
  color: aliceblue;
}
.nav-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the inherited color (the same as the parent) */
  /* You can also set a specific color, e.g., color: black; */
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  animation: tada 1.5s ease;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 515px) {
  .navlist li {
    display: none;
  }
  .HixMark,
  .GiHamburgerMenu {
    display: block;
  }
}
/* navlist */
