@font-face {
  font-family: "MyCustomFont";
  src: url("../public/Nightydemo.otf") format("opentype"); /* Adjust the path based on where your font is stored */
  font-weight: normal;
  font-style: normal;
}

/* You can set a default font for the whole app */
